[submodule "hanxyz/themes/gruvhugo"]
	path = hanxyz/themes/gruvhugo
	url = https://gitlab.com/avron/gruvhugo.git
[submodule "hanxyz/public"]
	path = hanxyz/public
	url = git@github.com:Han8931/han8931.github.io.git
	branch = main
[submodule "hanxyz/themes/hugo-blog-awesome"]
	path = hanxyz/themes/hugo-blog-awesome
	url = git@github.com:hugo-sid/hugo-blog-awesome.git
